@model RobesAndArmorGit.Models.ViewModels.EnemyItem

@{
	ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Enemy</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Enemy" />
			<div class="form-group">
				<label asp-for="Enemy.Name" class="control-label"></label>
				<input asp-for="Enemy.Name" class="form-control" />
				<span asp-validation-for="Enemy.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Enemy.Level" class="control-label"></label>
				<input asp-for="Enemy.Level" class="form-control" />
				<span asp-validation-for="Enemy.Level" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Enemy.Atk" class="control-label"></label>
				<input asp-for="Enemy.Atk" class="form-control" />
				<span asp-validation-for="Enemy.Atk" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Enemy.Def" class="control-label"></label>
				<input asp-for="Enemy.Def" class="form-control" />
				<span asp-validation-for="Enemy.Def" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Enemy.Health" class="control-label"></label>
				<input asp-for="Enemy.Health" class="form-control" />
				<span asp-validation-for="Enemy.Health" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label>Select the enemy image</label>
				<div class="imageList">
					@foreach (var item in Model.enemyImages)
					{
					<div class="image">
						<img src="~/images/Enemy/@item" class="listImage" />
						@if (Model.Enemy.imageUrl == item)
						{
							 <label><input type="radio" name="enemyImage" value="@item" checked="checked" />@item</label>
						}
						else {
							<label><input type="radio" name="enemyImage" value="@item" />@item</label>
						}

					</div>
					}
				</div>
			</div>
			<div class="form-group">
				<label>select the enemy drops</label>
				<div class="imageList">
					@foreach (var item in Model.AllItems)
					{
						<div class="image">
                            @if(Model.Enemy_Has_Item.Exists( x => x.ItemId == item.Id)){ 
                                <img src="~/images/item/@item.imgeUrl" alt="list Text" />
									<label><input type="checkbox" checked="checked" name="drops" value="@item.Id" />@item.Name</label>
                            }
                            else{
                            <img src="~/images/item/@item.imgeUrl" alt="list Text" />
									<label><input type="checkbox" name="drops" value="@item.Id" />@item.Name</label>
                            }
							
						</div>
					}
				</div>
			</div>


			<div class="form-group">
				<label asp-for="Enemy.imageUrl" class="control-label"></label>
				<input asp-for="Enemy.imageUrl" class="form-control" />
				<span asp-validation-for="Enemy.imageUrl" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
