@model IEnumerable<GameData.Models.Item>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="container">
    <div class="shop">
        @foreach (var item in Model)
    {
        <div class="Shopitem">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/images/item/@item.imgeUrl" alt="list Text" />
                </div>
                <div class="col-md-6">
                    <p>@item.Name</p> <p>@item.price</p>
                
                </div>
                <div class="col-md-3">

                    <a asp-action="buy" asp-route-id="@item.Id">Buy</a>
                </div>
            </div>
        </div>
}

    </div>
</div>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Health)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Def)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Atk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.imgeUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rarity)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Health)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Def)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Atk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imgeUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rarity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
