@model RobesAndArmorGit.Models.ViewModels.Battle 



@{
    ViewData["Title"] = "Battle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Battle</h2>


<div class="battleScreen">
    <div class="container">
        <div class="row">
            <div class="col-md-4">               
                <img src="~/images/faces/@Model.character.imageUrl" />
                <p>Name: @Model.character.Name</p>
                <p>Health: @Model.character.Health</p>
                <p>Str: @Model.character.str</p>
                <a asp-action="damage" asp-route-id="@Model.battle.Id">Attack</a>
            </div>
            <div class="col-md-8">
                <img src="~/images/Enemy/@Model.enemy.imageUrl" />
                <p>Name: @Model.enemy.Name</p>
                <p>Atk: @Model.enemy.Atk</p>
                <p>Health: @Model.battle.enemyHealth</p>

            </div>

        </div>
    </div>
</div>

